<div
    class="sidebar-area bg-white active"
    [ngClass]="{'active': isSidebarToggled}"
    [class.component-dark-theme]="themeService.isDark()"
    [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="logo bg-white">
        <a routerLink="/dashboard" class="d-flex align-items-center">
            <img ngSrc="assets/images/logo-icon.svg" alt="logo-icon" height="33" width="33">
            <span class="fw-semibold">RutaKids</span>
        </a>
    </div>
    <div
        (click)="toggle()"
        class="burger-menu"
        [ngClass]="{'active': isSidebarToggled}"
    >
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                  <span class="sub-title text-body">
                        PRINCIPAL
                  </span>
                  <a routerLink="/dashboard" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            dashboard
                        </i>
                        <span class="title">
                            Panel de Control
                        </span>
                  </a>
                  <span class="sub-title text-body">
                        ADMINISTRACIÓN
                   </span>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                  group
                                </i>
                                <span class="title">
                                    Estudiantes
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/students/primary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Primaria
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/students/secondary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Secundaria
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <a routerLink="/school-transportation" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            directions_bus
                        </i>
                        <span class="title">
                            Movilidad
                        </span>
                    </a>
                    <span class="sub-title text-body">
                        OPERACIONES
                    </span>
                    <a routerLink="/coming-soon" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                      <i class="material-symbols-outlined">
                          location_on
                      </i>
                      <span class="title">
                          Monitoreo
                      </span>
                    </a>
                    <a routerLink="/routes" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                      <i class="material-symbols-outlined">
                          route
                      </i>
                      <span class="title">
                          Rutas
                      </span>
                    </a>
                    <span class="sub-title text-body">
                        COMUNICACIÓN
                    </span>
                    <a routerLink="/notifications" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            notifications
                        </i>
                        <span class="title">
                            Notificaciones
                        </span>
                    </a>
                    <a routerLink="/mailbox" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            mail
                        </i>
                        <span class="title">
                            Correos
                        </span>
                    </a>
                    <span class="sub-title text-body">
                        OTROS
                    </span>
                    <a routerLink="/profile" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            account_circle
                        </i>
                        <span class="title">
                            Mi Perfil
                        </span>
                    </a>
                    <a routerLink="/faq" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            help
                        </i>
                        <span class="title">
                          FAQ
                        </span>
                    </a>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    settings
                                </i>
                                <span class="title">
                                    Configuración
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/settings/change-password" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Cambiar Contraseña
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/settings/privacy-policy" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Política de Privacidad
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/settings/terms-conditions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Términos y Condiciones
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <a routerLink="/authentication/logout" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            logout
                        </i>
                        <span class="title">Cerrar Sesión</span>
                    </a>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>
