<mat-card class="daxa-card error-card mb-25 pt-0 border-radius bg-white border-none d-block text-center">
    <mat-card-content>
        <img ngSrc="/assets/images/internal-error.png" width="700" height="555" alt="internal-error">
        <h3>
          Parece que ocurrió un error interno. Por favor, inténtelo nuevamente más tarde.
        </h3>
        <p>
          ¡Pero no se preocupe! Nuestro equipo está trabajando para solucionarlo mientras usted espera de forma segura.
        </p>
        <a mat-button routerLink="/dashboard">
          Volver al inicio
        </a>
    </mat-card-content>
</mat-card>
