<div
    class="privacy-policy-card"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
  <span class="title fw-medium d-block">Política de Privacidad</span>
  <p class="fst-italic text-muted small mb-4">
    El uso de esta aplicación implica la aceptación de estos Términos y Condiciones.
    Si usted no está de acuerdo, no debe utilizar el servicio.
  </p>
  <iframe
    src="https://www.privacypolicies.com/live/c715d267-3138-4651-af95-bfc874012de8"
    width="100%"
    height="600"
    style="border: none"
  ></iframe>
</div>
