<!-- Student Table -->
<mat-card class="daxa-card users-card mb-25 border-radius bg-white border-none d-block" [class.rtl-enabled]="themeService.isRTLEnabled()">
  <mat-card-header>
    <mat-card-title>
      <form class="search-box position-relative">
        <i class="material-symbols-outlined">search</i>
        <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="Search student..." (keyup)="applyFilter($event)" #input>
      </form>
    </mat-card-title>
    <mat-card-subtitle>
      <a mat-button class="add-new-btn" [routerLink]="createLink">
        + Add New Student
      </a>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="users-table">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Student ID -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Student ID</th>
            <td mat-cell *matCellDef="let student">{{ student.id }}</td>
          </ng-container>

          <!-- Name -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Full Name</th>
            <td mat-cell *matCellDef="let student">
              <div class="info d-flex align-items-center">
                <div class="image">
                  <img [src]="student.img" alt="student">
                </div>
                <span class="d-block fw-medium">{{ student.name }}</span>
              </div>
            </td>
          </ng-container>

          <!-- Email -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let student">{{ student.email }}</td>
          </ng-container>

          <!-- Grade -->
          <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef>Grade</th>
            <td mat-cell *matCellDef="let student">{{ student.grade }}</td>
          </ng-container>

          <!-- Status -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let student">
              <span class="daxa-badge active d-inline-block" *ngIf="student.status === 'active'">Active</span>
              <span class="daxa-badge deactive d-inline-block" *ngIf="student.status === 'inactive'">Inactive</span>
            </td>
          </ng-container>

          <!-- Actions -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let student">
              <div class="action-info">
                <a mat-button [routerLink]="[editLinkBase, student.id]" matTooltip="Edit Student">
                  <i class="material-symbols-outlined">edit</i>
                </a>
                <button mat-button (click)="deleteStudent(student.id)" matTooltip="Delete Student">
                  <i class="material-symbols-outlined">delete</i>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">No data matching the filter "{{ input.value }}"</td>
          </tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
