<div class="terms-conditions-card" [class.rtl-enabled]="themeService.isRTLEnabled()">
  <span class="title fw-medium d-block">Términos y Condiciones</span>
  <p class="fst-italic text-muted small mb-4">
    El uso de esta aplicación implica la aceptación de estos Términos y Condiciones.
    Si usted no está de acuerdo, no debe utilizar el servicio.
  </p>
  <iframe
    src="https://www.privacypolicies.com/live/31af2b21-97f4-4900-a1a0-5e8a3c051d1c"
    width="100%"
    height="600"
    style="border: none"
  ></iframe>
</div>
