<div
  [ngClass]="{
    'blank-page': isBlankPage(),
    'dark-theme': themeService.isDark(),
    'card-borderd-theme': themeService.isCardBorder(),
    'card-border-radius': themeService.isCardBorderRadius(),
    'rtl-enabled': themeService.isRTLEnabled()
  }"
>
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main Content -->
  <div
    class="main-content transition d-flex flex-column"
    [ngClass]="{
      'active': isSidebarToggled,
      'right-sidebar': themeService.isRightSidebar(),
      'hide-sidebar': themeService.isHideSidebar()
    }"
  >
    <app-header></app-header>
    <app-global-alert></app-global-alert>
    <router-outlet></router-outlet>
    <div class="flex-grow-1"></div>
    <app-footer></app-footer>
  </div>
</div>
